let's push
<app-pushy #pushy [title1]="title"></app-pushy>

<button style="background-color:springgreen" (click)="setTitle()">through binding</button>
<button style="background-color:springgreen" (click)="setTitle(true)">through binding (tick)</button>
<button style="background-color:peachpuff" (click)="pushy.setTitle2(currentDate)">through method</button>
<button style="background-color:powderblue" (click)="pushy.setTitle4(currentDate)">through method (+tick)</button>
<button style="background-color:powderblue" (click)="pushy.setTitle5(currentDate)">through method (+tick +cdr)</button>
